@model IEnumerable<WebMvc.Models.Waste>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WasteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecyclingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WasteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecyclingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartAmount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.WasteId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.WasteId })
            </td>
        </tr>
}
    </tbody>
</table>
